<a href="https://colab.research.google.com/github/DLPY/Python1/blob/main/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Variables & Types

**Integers**

*  An integer is a whole number that could hold a zero, positive or negative value
*   Integers can be of any length, it is only limited by the memory available.

In [ ]:
A= 1000
A

1000

In [ ]:
B= A+100
B

1100

In [ ]:
print(A,"is of type ",type(A))
print(B,"is of type ",type(A))

1000 is of type  <class 'int'>
1100 is of type  <class 'int'>

**Float**
*  The float type in Python designates a floating-point number.
*   Float values are specified with a decimal point.

In [ ]:
C=-1.100
C

-1.1

In [ ]:
print(C,", is it a float?",isinstance(C,float))

-1.1 , is it a float? True

**Strings**


*   Strings are sequences of character data.
*   The string type in Python is called str.
*   String literals may be delimited using either single or double quotes.
*   All the characters between the opening delimiter and matching closing delimiter are part of the string.
*   Are immutable.

In [ ]:
print("Hello")

Hello

In [ ]:
type("Welcome")

str

Slice & Dice

In [ ]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])

llo
Hello
llo, World!

Modify String

In [ ]:
a = " Hello, World!"
a_upper = a.upper() # Capital letters
a_lower = a.lower() # Small Letters
a_strip = a.strip() # Remove any whitespace from the beginning or the end
print(a)
print(a_upper)
print(a_lower)
print(a_strip)

 Hello, World!
 HELLO, WORLD!
 hello, world!
Hello, World!

String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
c1=a+" "+b
print(c)
print(c1)

HelloWorld
Hello World

String Format

In [ ]:
age = "36"
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

Split Strings

In [ ]:
txt = "welcome to the jungle"

x = txt.split()

print(x)
type(x)

['welcome', 'to', 'the', 'jungle']

list

In [ ]:
txt = '''Thank you for the music. Welcome to the jungle'''

x = txt.splitlines()

print(x)
type(x)

['Thank you for the music. Welcome to the jungle']

list

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
txt = '''Thank you for the music
Welcome to the jungle'''

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

String Replace

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

 Escape Sequences

In [ ]:
print('This string contains a single quote \'* character.')
print ('Doesn\'t')

This string contains a single quote '* character.
Doesn't

**Caculations**


*   The interpreter acts as a simple calculator: you can type an expression at it and it will write the value.

*   Expression syntax is straightforward: the operators +, -, * and / work just like in most other languages

In [ ]:
3+3

6

In [ ]:
50 - 5*6

20

In [ ]:
(50 - 5*6) / 4      #A division will always return a float

5.0

In [ ]:
5**2                #** can be used to calculate powers

25

In [ ]:
#The Modular Operator returns the remainder from a divison
print(10%2)
print(10%3)

0
1

In [ ]:
a = 4
b = 5

print(a+b)
print(a-b)
print(a%b)
print(a**b)

9
-1
4
1024

**Booleans**


*   In programming you often need to know if an expression is True or False.
*   You can evaluate any expression in Python, and get one of two answers, True or False.

*   When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif b == a: 
  print("b equals a")
else:
  print("b is not greater than a")

b is not greater than a

*   The bool() function allows you to evaluate any value, and give you True or False in return 
*   Almost any value is evaluated to True if it has some sort of content.
*   Any string is True, except empty strings.
*   Any number is True, except 0.

In [ ]:
bool("abc")

True

In [ ]:
bool(123)

True

In [ ]:
bool(0)

False

In [ ]:
bool(None)

False

**Boolean Operators**


*   == (to check if two values are equal)

*   != (to check if two values are not equal)

*   <

*  \>


*   <=


*   \>=


*   and

*   or
*   not

In [ ]:
Test1=4<5
Test1

True

In [ ]:
type(Test1)

bool

In [ ]:
Test2= not('M'=='M')
Test2

False

In [ ]:
Test1 or Test2

True

In [ ]:
Test1 and Test2

False

###IF Statements



*   The IF statement is a decision-making statement that guides a program to make decisions based on specified criteria. 
*   The IF statement executes one set of code if a specified condition is met (TRUE) or another set of code evaluates to FALSE

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**Elif**
*   The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**Else**

*  The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

You can have multiple Else statements in the same line

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

 **And/Or**
*   Both these keywords are logical operators, and are used to combine conditional statements

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**Nested If**


*   An If statement within an If statement is called a Nested If

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### For / While

**The While Loop**

*   The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.
*   We generally use this loop when we don't know the number of times to iterate beforehand

In [ ]:
while False:
  print("Hello")

In [ ]:
counter=0
while counter<15:
  print('Hello ',counter)
  counter=counter+1

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10
Hello  11
Hello  12
Hello  13
Hello  14

**The For Loop**


* A for loop in Python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied.

In [ ]:
for i in range(5):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [ ]:
mytestlist=[20,200,2000]
mytestlist

[20, 200, 2000]

In [ ]:
for check in mytestlist:
  print("My check: ",check)

My check:  20
My check:  200
My check:  2000

In [ ]:
#Bringing it all together 

namelist = ["Joe","Mary","Dave","Patrick","Kate","James","Lorna","Marissa","Tony","Chris"]
ageList = [21,5,23,38,5,16,18,8,9,11]
k = 0
Agefinal="{} is {} years old and is a {}"
for i in namelist:
        if ageList[k] > 17: 
          a = "adult" 
        else: 
          a = "child"
        print(Agefinal.format(i, ageList[k], a))
        k += 1

Joe is 21 years old and is a adult
Mary is 5 years old and is a child
Dave is 23 years old and is a adult
Patrick is 38 years old and is a adult
Kate is 5 years old and is a child
James is 16 years old and is a child
Lorna is 18 years old and is a adult
Marissa is 8 years old and is a child
Tony is 9 years old and is a child
Chris is 11 years old and is a child